:8080 {
    @websocket {
        path /vmessws
    }
    
    reverse_proxy @websocket localhost:10086 {
        transport http {
            versions h2c 1.1
        }
    }
    
    respond / "404 Not Found" 404
    
    log {
        output stdout
        format console
    }
}